<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>This is the contacts page</h1>
    <form action="">
        First name:
        <br>
        <input type="text" name="firstname" required>
        <br> Last name:
        <br>
        <input type="text" name="lastname" required>
        <br> Email:
        <br>
        <input type="email" name="email" required>
        <br>
        <br>
        <input type="submit" value="Submit">
    </form>

    <%- include('footer.ejs') %>